/* 1.顶部 */
/* 顶部外层容器 */
  .topbar{
        height: 28px;
        background-color: #101010;
  }
/* 顶部内层容器 */  
  .topbar .container{
        height: 28px;
        background-color: #101010;
  }
/* 里面的p标签 */
  .topbar .container p{
        height: 28px;
        line-height: 28px;
        color: #f1f1f1;
  }
/* 第一个p标签 */
  .topbar .container p:first-child{
        text-indent: 210px;
  }
/* 第一个p标签下面的a标签 */
  .topbar .container p:first-child a{
        color: #fff;
        text-decoration: none;
  }
/* 第二个p标签 */
  .topbar .container p:nth-child(2){
        margin-right: 10px;
  }
/* 第二个p标签下面的标题和注册 */
  .topbar .container p:nth-child(2) a:not(.login){
        color: #ff6700;
  }
/* 第二个p标签下面的登陆 */
  .topbar .container p:nth-child(2) .login{
        color: #fff;
  }
  /* 2.导航 */
  .nav{
        height: 80px;
        background-color: #ccc;
        background-color: #fff;
  }
  /* 搜索购物车订单大容器 */
  .nav .search-shopcart-order{
        margin-top: 5px;
        height: 35px;
  }
  /* 搜索框 */
  .nav .search-shopcart-order .search-input{
        width: 440px;
        height: 35px;
        background-color: #ff6700;
        margin-right: 38px;
        position: relative;
  }
  /* 搜索框中的图标span */
  .nav .search-shopcart-order .search-input span{
        display: inline-block;
        width: 50px;
        height: 35px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url('../images/bgicon.png');
  }
  /* 搜索框 */
  .nav .search-shopcart-order .search-input .search{
        width: 390px;
        height: 31px;
        border: 2px solid #ff6700;
        text-indent: 10px;
        color: #333;
        outline: none;
        
  }
  /* 购物车和订单 */
  .nav .search-shopcart-order .shopcart-order{
        width: 200px;
        height: 35px;
        background-color: pink;
        font-size: 0;  
  }
  /* 购物车订单按钮 */
  .nav .search-shopcart-order .shopcart-order button{
        width: 100px;
        height: 35px;
        background-color: #ebebeb;
        border: 1px solid #ccc;
        font-size: 12px;
        color: #333;
        outline: none;
  }
  /* 购物车按钮 */
  .nav .search-shopcart-order .shopcart-order button:nth-child(1){
        background-color: #ff6700;
        color: #fff;
        padding-left: 3px;
  }      
  /* 购物车图标 */
   .nav .search-shopcart-order .shopcart-order button:nth-child(1) span:first-child{
        background-image: url('../images/VectorSmartObject.png');
        background-repeat:no-repeat ;
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 16px;
        margin-right: 3px;
   }
   /* 购物车文字 */
   .nav .search-shopcart-order .shopcart-order button:nth-child(1) span:nth-child(2){
      vertical-align: top;  
      display: inline-block;
   }
   /* 数量 */
   .nav .search-shopcart-order .shopcart-order button:nth-child(1) span:nth-child(3){
        vertical-align: top;
        display: inline-block;
        width: 20px;
        margin-left: 15px;
   }
   /* 分类导航 */
  .nav .category-menu{
        margin-top: 15px;
        height: 30px;
  }
   .nav .category-menu .left-logo{
      width: 200px;
      height: 30px;
      position: relative;
   }
   .nav .category-menu .left-logo img{
      position: absolute;
      bottom: 0;
   }
   .nav .category-menu ul{
        width: 1000px;
        height: 30px;
  }
  .nav .category-menu ul li{
        float: left;
        height: 30px;
        width: 80px;
        line-height: 30px;
        color: #333;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
  }
  /* 3.分类导航和banner */
  .menu{
        height: 430px;
}
  .menu .sideMenu {
    height: 430px;
    width: 200px;
}

.menu .sideMenu ul {
    height: 430px;
    width: 200px;
    background-color: #f3f3f3;
    position: relative;
}

.menu .sideMenu ul li {
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-indent: 20px;
}

.menu .sideMenu ul li a {
    color: #353535;
    text-decoration: none;
}

.menu .sideMenu ul li:hover {
    background-color: #fff;
}

.menu .sideMenu ul li:hover a {
    color: #ff6700;
}

.menu .sideMenu ul li .title {
    width: 200px;
    height: 30px;
    line-height: 30px;
}

.menu .sideMenu ul li:hover .title {
    background-color: #fff;
    position: absolute;
    z-index: 99;
}
.menu .sideMenu ul li:hover .subMenu {
    display: block;
}
.menu .sideMenu ul li .subMenu {
    position: absolute;
    left: 198px;
    top: 0;
    border: 2px solid #ff6700;
    width: 500px;
    height: 426px;
    display: none;
}

.menu .banner {
    background-color: #fff;
    height: 430px;
    width: 1000px;
}


  /* 4.今日推荐 */
  .recommend{
        height: 544px;
  }
  /* 鏍囬 */
.recmmend .title{
    width: 1200;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    text-align: 24px;
    font-size: 24px;
    font-weight: 200;
    color: #ff6700;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}
/* 鎺ㄨ崘鍐呭 */
.recmmend .recmmend-content{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
}
/* 鍒楄〃瀹瑰櫒 */
.recmmend .recmmend-content ul{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
    background-color: #ff6700;
}
/* 鎺ㄨ崘鍒楄〃 */
.recmmend .recmmend-content ul li{
    width: 196px;
    height: 247px;
    background-color: #fff;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
/* 鏁翠綋灞呬腑 */
.recmmend .recmmend-content ul li{
    text-align: center;
}
/* p鏍囩鏍峰紡 */
.recmmend .recmmend-content ul li p {
    text-align: left;
    text-indent: 10px;
}
/* 闄愭椂 */
.recmmend .recmmend-content ul li p.limit-time {
    text-align: left;
    text-indent: 0;
}
/* 鍏ㄥ浗鑱斾繚 */
.recmmend .recmmend-content ul li p.text {
    color: red;
} 
/* 浠锋牸 */
.recmmend .recmmend-content ul li p.price {
    color: red;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 400;
}
  /* 5.电子书 */
  .ebooks{
        height: 496px;
        margin-top: 34px;
  }
  /* 左侧盒子 */
  .ebooks .left-box{
      width: 906px;
      height: 496px;
      background-color: pink;
  }
  /* 顶部 */
  .ebooks .left-box .top{
      width: 906px;
      height: 40px;
      line-height: 40px;
      background-color: #fff;
      border-bottom: 6px solid #ff6700;
  }
  /* 标题 */
  .ebooks .left-box .top .title{
      text-indent: 24px;
      font-size: 24px;
      font-weight: 300;
      color: #333;
  }
  /* 右侧标题导航 */
  .ebooks .left-box .top ul li{
      float: left;
      font-size: 18px;
      width: 100px;
      text-align: center;
  }
  /* 右侧激活类 */
  .ebooks .left-box .top ul li.active{
      background-color: #ff6700;
      color:#fff;
  }
  /* 下部分内容 */
  .ebooks .left-box .content{
      height: 450px;
      width: 906px;
      background-color: #ccc;
  }
  /* 左侧广告 */
 .ebooks .left-box .content .ads{
      height: 450px;
      width: 236px;
      background-color: #f9f9f9;
 }
 .ebooks .left-box .content .ads .top-img{
      width: 236px;
      height: 290px;
     
 }
 .ebooks .left-box .content .ads .bottom-text{
      height: 160px;
      width: 236px;
      
 }
 .ebooks .left-box .content .ads .bottom-text ul{
      width: 235px;
      height: 160px;
      margin-left: 1px;
 }
 .ebooks .left-box .content .ads .bottom-text ul li{
      float: left;
      width: 78px;
      height: 40px;
      line-height: 40px;
      text-indent: 5px;
 }
 /* 右侧图书列表 */
 .ebooks .left-box .content .ebooks-list{
      height: 450px;
      width: 670px;
      background-color: #ccc;
 }
 .ebooks .left-box .content .ebooks-list:nth-child(3){
      /* 后面两个轮播隐藏 */
      display:none;
 }
 .ebooks .left-box .content .ebooks-list:nth-child(4){
      /* 后面两个轮播隐藏 */
      display:none;
 }
 .ebooks .left-box .content .ebooks-list > ul > li{
      float: left;
      height: 223px;
      width: 165px;
      background-color: #fff;
      margin-left: 2px;
      margin-bottom: 2px;
      text-align: center;
 }
 .ebooks .left-box .content .ebooks-list > ul > li p{
      text-align-last: left;
      text-indent: 10px;
 }
 .ebooks .left-box .content .ebooks-list > ul > li p:first-child{
      font-size: 18px;
 }
 .ebooks .left-box .content .ebooks-list > ul > li > img{
      margin: 15px auto;
 }
 .ebooks .left-box .content .ebooks-list > ul > li > p:not(:first-child){
      color: red;
 }
 .ebooks .left-box .content .ebooks-list > ul > li > p:last-child{
      font-size: 18px;
 }
 /* 一个特别的li 将来的轮播容器 */
.ebooks .left-box .content .ebooks-list ul li:first-child{
      width: 332px;
      height: 223px;
 }
 .ebooks .left-box .content .ebooks-list ul li:first-child .pptbox{
      width: 332px;
      height: 223px;
      background-color: #fff;
 }
  /* 右侧盒子 */
  .ebooks .right-box{
      width: 286px;
      height: 456px;
      margin-top: 40px;
      border: 2px solid #ccc;
      /* 变为怪异盒子 */
      box-sizing: border-box;
  }
   .ebooks .right-box .title{
      text-align: center;
      height: 50px;
      line-height: 50px;
      font-size: 24px;
      font-weight: 200;
      color: #333;
   }
    .ebooks .right-box ul li{
      line-height: 42px;
      font-size: 16px;
      text-indent: 5px;
    }
    .ebooks .right-box ul li .desc img{
      margin-right: 9px;
   }
   /* 新书列表交互相关样式 */
   .ebooks .right-box ul li .desc{
      font-size: 14px;
      line-height: 20px;
      height: 150px;
      color: #333;
      /* 隐藏：详情默认所有都是隐藏的 只有第一个显示 */
      display: none;
   }
   .ebooks .right-box ul li:first-child .ebooks-title{
      /* 默认所有标题都显示 只有第一个隐藏 */
      display: none;
   }
   .ebooks .right-box ul li:first-child .desc{
      /* 默认第一个显示详情 */
      display: block;
   }

/* 6.服装 */
.p{
    height: 620px;
    margin-bottom: 35px;
}
.pTop{
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
}
.pTop span{
    font-size: 28px;
    color: #333333;
}
.pTop a{
    width: 98px;
    height: 34px;
    float: right;
    margin-top: 6px;
    font-size: 18px;
    color: #333333;
    text-align: center;
}
.pTop a:nth-of-type(2){
    margin-left: 6px;
    margin-right: 6px;
}
.pTop a.on{
    background: #f60;
    color:#fff;
}
.pMiddle{
    height: 500px;
    border-top: 6px solid #f60;
}
.pMiddle>div:first-child{
    width: 238px;
    height: 500px;
    background: url(../img/2018.jpg) no-repeat;
}
.pMiddle>.fl>ul{
    height: 150px;
    margin-top: 350px;
    background: #fff;   
}
.pMiddle>.fl li{
    float: left;
    width: 75px;
    height: 20px;
    margin-top: 17px;
    margin-left: 4px;
}
.pMiddle a{
    font-size: 14px;
    color: #333;
}
.pMiddle>div:last-child{
    width: 962px;
    height: 500px;
}
.pMiddle>.fr>.banner{
    float: left;
    width: 430px;
    height: 342px;
    position: relative;
}
.pMiddle .banner img{
    width: 430px;
    height: 342px;
}
.pMiddle .banner ul{
    position: absolute;
    top: 326px;
    left: 176px;
}
.pMiddle .banner li{
    display: inline-block;
    width: 14px;
    height: 2px;
    background: #ffffff;
    cursor: pointer;
}
.pMiddle .banner li.lion{
    background: #7f7f7f;
}
.pMiddle>.fr>div:not(.banner){
    float: left;
}
.pMiddle>.fr>div:nth-child(2),.pMiddle>.fr>div:nth-child(3),.pMiddle>.fr>div:nth-child(4){
    width: 174px;
    height: 342px;
}
.pMiddle>.fr>div:nth-child(2)>img,.pMiddle>.fr>div:nth-child(3)>img,.pMiddle>.fr>div:nth-child(4)>img{
    width: 174px;
    height: 342px;
}
.pMiddle>.fr>div:nth-child(5){
    width: 430px;
    height: 154px;
}
.pMiddle>.fr>div:nth-child(5)>img{
    width: 430px;
    height: 154px;
}
.pMiddle>.fr>div:nth-last-child(1),.pMiddle>.fr>div:nth-last-child(2),.pMiddle>.fr>div:nth-last-child(3){
    width: 174px;
    height: 154px;
}
.pMiddle>.fr>div:nth-last-child(1)>img,.pMiddle>.fr>div:nth-last-child(2)>img,.pMiddle>.fr>div:nth-last-child(3)>img{
    width: 174px;
    height: 154px;
}
.pMiddle>.fr>div{
    border: 2px solid #ccc;
    border-top: 0;
}
.pMiddle>.fr>div:not(.br){
    border-right: 0;
}
.pMiddle .banner>span{
    display: block;
    width: 36px;
    height: 70px;
    opacity: 0.2;
    cursor: pointer;
}
.pMiddle .banner>span:first-of-type{
    position: absolute;
    top:136px;
    background:url(../img/leftBtn.png) no-repeat #000;
}
.pMiddle .banner>span:last-of-type{
    position: absolute;
    top:136px;
    right: 0;
    background:url(../img/rightBtn.png) no-repeat #000;
}
  /* 7.户外运动 */


.pBottom a{
    float: left;
    width: 120px;
    line-height: 80px;
    margin-left: 10px;
    text-align: center;
}
#sportMiddle>div:first-child{
    width: 238px;
    height: 500px;
    background: url(../img/160729pc-A.jpg) no-repeat;
}
.bottomA a{
    float: left;
    width: 110px;
    line-height: 80px;
    margin-left: 10px;
    text-align: center;
}
  /* 8.童装 */
#gear{
    height: 550px;
    margin-bottom: 35px;
}
#garmentsMiddle>div:first-child{
    width: 238px;
    height: 500px;
    background: url(../img/86030026097384_y.jpg) no-repeat;
}
#gearMiddle>div{
    float: left;
    border: 2px solid #ccc;
    border-top: 0;
}
#gearMiddle>div:first-child{
    width: 488px;
    height: 502px;
    background-image: none;
}
#gearMiddle>div:first-child>img{
    width: 487px;
    height: 502px;
}
#gearMiddle .dTop{
    width: 175px;
    height: 340px;
}
#gearMiddle .dBottom{
    width: 175px;
    height: 160px;
}
#gearMiddle div:not(.br){
    border-right: 0;
}
  /* 9.家具日用 */
.dTop>img{
    margin-top: 51px;
}
#goodsTop span{
    color: #f60;
}
#goodsTop ul{
    float: right;
    height: 40px;
    margin-right: 14px;
}
#goodsTop li{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #bfbfbf;
    border-radius: 50%;
    margin-top: 22px;
    margin-right: 3px;
}
#goodsTop li.on{
    background: #f60;
}
#goodsMiddle{
    box-sizing: border-box;
    height: 650px;
    padding: 10px 18px 26px 10px;
}
#goodsMiddle>div{
    width: 214px;
    height: 300px;
    box-sizing: border-box;
    padding: 25px 32px 32px 32px;
    float: left;
    background: none;
}
#goodsMiddle>.divMr{
    margin-right: 25px;
}
#goodsMiddle>.divMt{
    margin-top: 13px;
}
#goodsMiddle>div:hover{
    background: #f2f2f2;
}
#goodsMiddle>div>p:first-of-type{
    font-size: 14px;
    color: #333;
    margin-top: 12px;
    margin-bottom: 6px;
}
#goodsMiddle>div>span:first-of-type{
    font-size: 24px;
    color: #f4290d;
}
#goodsMiddle>div>p:last-of-type{
    text-indent: 2em;
    font-size: 14px;
    margin-top: 6px;
    background: url(../img/icon.png) no-repeat;
}
#goodsMiddle>div span:last-of-type{
    color: #f4290d;
}
  /* 10.推广商品 */
body{
    position: relative;
}
.rAside{
    width: 40px;
    height: 180px;
    position: absolute;
    top: 212px;
    right: 0;
    cursor: pointer;
}
.rAside>div:nth-child(1){
    line-height: 40px;
    text-align: center;
    height: 40px;
    background: #ffda0d;
}
.rAside>div:nth-child(2){
    height: 90px;
    width: 20px;
    padding:5px 10px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #ff6600;
}
.rAside>div:nth-child(3){
    height: 37px;
    padding-top: 3px;
    text-align: center;
    background: #666666;
}
.rAside>div:nth-child(3)>div{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 1px;
    background: #ff1e00;
    font-size: 12px;
    color: #fff;
}
.rAside>div:nth-child(4){
    display: none;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #f60;
}
  /* 11.尾部 */
  .aNav{
    width: 40px;
    height: 200px;
    background: #f2f2f2;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    margin-left: -40px;
}
.aNav>div{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.aNav>.aNav2{
    position: absolute;
    top: 0;
    left: 40px;
    width: 40px;
    height: 200px;
}
.aNav>.aNav2>div{
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.aNav>.aNav2>div:nth-child(1){
    background: #93d46f;
}
.aNav>.aNav2>div:nth-child(2){
    background: #f65727;
}
.aNav>.aNav2>div:nth-child(3){
    background: #bb9dee;
}
.aNav>.aNav2>div:nth-child(4){
    background: #ff7394;
}
.aNav>.aNav2>div:nth-child(5){
    background: #c2ec51;
}
#main{
    position: relative;
}
#main>.reTop{
    width: 30px;
    height: 42px;
    padding-top: 8px;
    background: #999;
    position: absolute;
    bottom: 0;
    right: -30px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}