/* 1.顶部 */
/* 顶部外层容器 */
  .topbar{
        height: 28px;
        background-color: #101010;
  }
/* 顶部内层容器 */  
  .topbar .container{
        height: 28px;
        background-color: #101010;
  }
/* 里面的p标签 */
  .topbar .container p{
        height: 28px;
        line-height: 28px;
        color: #f1f1f1;
  }
/* 第一个p标签 */
  .topbar .container p:first-child{
        text-indent: 210px;
  }
/* 第一个p标签下面的a标签 */
  .topbar .container p:first-child a{
        color: #fff;
        text-decoration: none;
  }
/* 第二个p标签 */
  .topbar .container p:first-child(2){
        margin-right: 10px;
  }
/* 第二个p标签下面的标题和注册 */
  .topbar .container p:first-child(2) a:not(.login){
        color: #ff6700;
  }
/* 第二个p标签下面的登陆 */
  .topbar .container p:first-child(2) .login{
        color: #fff;
  }
  /* 2.导航 */
  .nav{
        height: 500px;
        background-color: #ccc;
  }
  /* 3.分类导航和banner */
  .menu{
        height: 500px;
        background-color: #000;
  }
  /* 4.今日推荐 */
  .recommend{
        height: 500px;
        background-color: #ccc;
  }
  /* 5.电子书 */
  .ebooks{
        height: 500px;
        background-color: #000;
  }
  /* 6.服装 */
  .clothes{
        height: 500px;
        background-color: #ccc;
  }
  /* 7.户外运动 */
  .sport{
        height: 500px;
        background-color: #000;
  }
  /* 8.童装 */
  .children-clothes{
        height: 500px;
        background-color: #ccc;
  }
  /* 9.家具日用 */
  .daily{
        height: 500px;
        background-color: #000;
  }
  /* 10.推广商品 */
  .promotion{
        height: 500px;
        background-color: #ccc;
  }
  /* 11.尾部 */
  .footer{
        height: 500px;
        background-color: #000;
  }