/* 头部部分修改 */

/* 欢迎登录信息区域  */
#header{
    box-shadow: 0px 1px 8px 0px 
		rgba(146, 146, 146, 0.4);
}
#header .welcome_login{
    height: 72px;
    line-height: 72px;
}
.welcome_login .welcome_left{
    height: 72px;
    margin-left: 300px; 
    font-size: 30px;
    color: #666;
}

/* logo区域  */
#header .top #logoImg{
    width: 200px;
    height: 105px;
}

/* 登录区域 */

#main{
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../images/05-登录_03.jpg') no-repeat center top;
    background-color: #e93854;
    /* background-size:100%,100%; */
}
#main .loginInfor{
    position: absolute;
    left: 50%;
    top:50%;
    margin-top: -175px;
    margin-left: 162px;
    width: 350px;
    height: 370px;
    background-color: #fff;
}
.loginInfor ul{
    padding: 20px 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f6f6f6;
}
.loginInfor ul>li{
    width: 174px;
    text-align: center;
    cursor: pointer;
}
.loginInfor ul>li.hove{
    color: #f60;
}
.loginInfor ul>li:first-child{
    border-right: 1px solid #f6f6f6;
}

/* 扫码登录内容区域 */
.pic{
    display: none;
}
.loginInfor .pic>img{
    margin-left: 25px;
}
.loginInfor .pic>p{
    margin-top: 25px;
    text-align: center;
}

/* 账号登录内容区域 */
.countForm{
    display: none;
}
#myform>.content{
    padding: 0px 30px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e6e6e6;
}
#myform p{
    margin-bottom: 16px;
    border: 1px solid #bfbfbf;
}
#myform p.checkbox{
    height: 40px;
    border: none;
    margin: 0px;
}
#myform p.checkbox a{
    margin-left: 148px;
}
#myform p input{
    width: 240px;
    height: 40px;
    outline: none;
    border: none;
/*   background-color: green; */
}
#myform p span.person{
    display: block;
    width: 40px;
    height: 40px;
   /* background-color: red; */
   background-size:100%;
}
#myform p span.person>img{
    width: 40px;
    height: 40px;
}
#myform p span.password{
    display: block;
    width: 40px;
    height: 40px;
   /* background-color: red; */
   background-size:100%;
}
#myform p span.password>img{
    width: 40px;
    height: 40px;
}

#myform p input[type='checkbox']{
    width: 12px;
    height: 12px;
    margin-left: 3px;
    vertical-align: -1px;
}

#myform p input[type='submit']{
    width: 290px;   
    background-color: #f60;
    color: #fff;
    text-align: center;
}
#myform p.last{
   border: none;
}
/* 显示效果的类名 */
.appear{
    display: block;
}

#myform .tip{
    line-height: 45px;
    text-align: center;
}

#myform .tip>span{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: #fff;
    line-height: 16px;
    text-align: center;
    background-color: #e3393d;
    vertical-align: 3px;
    margin-right: 4px;
}
/* 页脚区域 */
.footer{
    border-top: 2px solid #e6e6e6;
}