/* 头部区域开始 */
#header{
    height: 105px;
}
.vip>div{
    padding-top: 20px;
}

.vip .vip_left{
    margin-left: 220px; 
    font-size: 30px;
    color: #666;
}

.vip .vip_right>li{
    width: 90px;
    height: 36px;
    margin-right: 60px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
.vip .vip_right>li.on{
    background-color: #f60;
    color: #fff;
}
/* logo区域  */
#header .top .logo{
    width: 200px;
    height: 105px;
}
/* 头部区域结束 */

/* banner区域开始 */
.banner{
    height: 487px;
    padding-top: 13px;
    background: url('../images/background.jpg') no-repeat center;
}
/* banner左边 区域 */
.banner .banner_contain .banner_left{
    width: 230px;
    height: 466px;
    padding-top: 8px;
    background-color: #fff;
}
.banner_contain .banner_left h3{
    height: 20px;
    line-height: 20px;
    padding: 8px 8px;
    color: #fff;
    font-weight: normal;
    background-color: #f60;
}
.banner_contain .banner_left>div{
    width: 220px;
    height: 106px;
    padding-left: 10px;
    padding-top: 10px;
}
.banner_contain .banner_left>div:nth-child(2) span{
      font-weight: bold;  

}
.banner_contain .banner_left>div:nth-child(3){
    width: 208px;
    padding-left: 22px;

}
.banner_contain .banner_left>div h2{
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 12px;
    
}
.banner_contain .banner_left>div p{
    font-size: 14px;
    color: #4d4d4d;
}
.banner_contain .banner_left .getDou{
    
    margin-top: 35px;
    background: url('../images/25-会员中心.jpg') no-repeat;
}

.banner_contain .banner_left .bigDou{

    margin-top: 10px;
    background: url('../images/27-会员中心.jpg') no-repeat;
}

.banner_contain .banner_left .plus{

    margin-top: 10px;
    background: url('../images/29-会员中心.jpg') no-repeat;
}

/* banner中间区域 */

.banner .banner_contain .banner_center{
    width: 732px;
    height: 474px;
    margin: 0px 4px;
}

/* banner右边区域 */
.banner .banner_contain .banner_right{
    width: 214px;
    height: 452px;
    padding-top: 22px;
    padding-left: 16px;
    background-color: #fff;
}
.banner_contain .banner_right>h2{
    height: 35px;
    padding-top: 5px;
    background: url('../images/34-会员中心.jpg') no-repeat;
}
.banner_contain .banner_right>h2 a{
    display: block;
    text-indent: 50px;
}
.banner_contain .banner_right>div{
    height: 18px;
    margin-top: 55px;
    text-indent: 20px;
}
.banner_contain .banner_right .myDou{ 
    background: url('../images/33-会员中心.jpg') no-repeat;
}

.banner_contain .banner_right .coupon{
    margin-bottom: 50px;
    background: url('../images/32-会员中心.jpg') no-repeat;
    
}
.banner_contain .banner_right>p{
    width: 116px;
    height: 26px;
    font-size: 14px;
    text-align: center;
    color: #333;
}
.banner_contain .banner_right>p a{
    font-weight: bold;
    font-size: 16px;
}
.banner_contain .banner_right>p:nth-child(4){
    background: url('../images/30-会员中心.jpg') no-repeat;
}
.banner_contain .banner_right>p:nth-child(5){
   margin: 26px 0;
}

.banner_contain .banner_right>p:nth-child(6){
    background: url('../images/31-会员中心.jpg') no-repeat;
}
.banner_contain .banner_right>p:nth-child(7){
    margin: 26px 0;
}
/* banner区域结束 */



/* 主体内容区域开始  */

/* vip特权列表区 */
.vip_privilege{
    width: 100%;
    height: 190px;
    background-color: #f9f9f9;
}
.vip_privilege .vip_list li{
    width: 266px;
    height: 120px;
    padding: 20px 10px 0px 10px;
    margin-left: 12px;
    margin-top: 25px;
    background-color: #fff;

}
.vip_list li>a{
    display: block;
    height: 100px;
}
.vip_list li>a>img{
    width: 100%;
    height: 100%;
}
.vip_list li>.text{
    margin-top: 10px;
}

.vip_list li>.text h3{
    margin-bottom: 10px;
}


/*  乐豆兑换劵区*/
.ledou_exchange{
    height: 714px;
}
.ledou_exchange h2{
    width: 186px;
    height: 48px;
    text-align: center;
    background-color: #f60;
    line-height: 48px;
    color: #fff;
}
/* 公共样式  */
.global_list{
    padding-top: 20px;
}
.global_list li{
    float: left;
    position: relative;
    width: 210px;
    height: 290px;
    margin-right: 37px;
    margin-bottom: 30px;
    background-color: #f5f5f5;
}
.global_list li.last{
    margin-right: 0px;
}
.global_list li>div{
    padding: 6px 20px 0px 20px;
}
.global_list li>.global_pic{
    border: 2px solid #e5e5e5;
    border-bottom: 0;
    background-color: #fff;
}

.global_list li>img{
    position: absolute;
    top: 162px;
    left: 0px;
}
.global_list li a{
    display: block;
    width: 170px;
    height: 170px;
}
.global_list li a>img{
    width: 100%;
    height: 100%;
}
.global_list li .text p:nth-child(1){
    margin-top: 10px;
    text-align: center;
}
.global_list li .text p:nth-child(2){
    color: #f4290d;
    margin-top: 10px;
}
.global_list li .text p:nth-child(2) span:nth-child(1){
    margin-right: 17px;
}
.global_list li .text p:nth-child(3){
    width: 160px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    background-color: #f60;
    box-shadow: 0px 2px 0px 0px 
		#e53303;  
}

/* 广告区域 */
.phone_adv{
    height: 92px;
    margin-bottom: 30px;
    background: url('../images/adv.jpg') no-repeat center;
}

/* 会员特价区域 */
.member_speciPrice h2{
    width: 186px;
    height: 48px;
    text-align: center;
    background-color: #f60;
    line-height: 48px;
    color: #fff;
}
.member_speciPrice .global_list li .text p:nth-child(2){
    color: #f4290d;
    text-align: center;
}

.member_speciPrice .global_list .global_pic .shopCar{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    background-color: #f60;
}
.global_list .global_pic .shopCar span{
    display: inline-block;
    width: 29px;
    height: 33px;
    vertical-align: -3px;
    background: url('../images/two_40.png') no-repeat center;
}

/* 会员特权区域 */
.member_privilege h2{
    width: 186px;
    height: 48px;
    text-align: center;
    background-color: #f60;
    line-height: 48px;
    color: #fff;
}
.privi_ul{
    height: 346px;
    margin-top: 30px;
}
.privi_ul li{
    float: left;
    width: 360px;
    margin-left: 30px;
}
.privi_ul li>a{
    display: block;
    height: 220px;
}
.mprivi_ul li>a>img{
    width: 100%;
    height: 100%;
}
.privi_ul li>p:nth-child(2){
    line-height: 44px;
    color: #262626;
}
.privi_ul li>p:nth-child(3){
    color: #737373;
}
/* 主体内容区域结束  */

/* 魔兽区域  */
.warImg{
    height: 90px;
    background: url('../images/war.jpg') no-repeat center;
}